div.body {
  margin: 10px;
  margin-left: 35%;
}

.MuiTypography-body1 {
  max-width: 50%;
  min-width: 25%;
}

a:link {
  color: #0A66C2;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #0A66C2;
  background-color: transparent;
  text-decoration: none;
}
